body {
    background-color: rgb(246, 247, 232);
    margin: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    font-size: 20px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }
  ol {
    font-size: 20px;
  }
  ol.nested_list{
    list-style-type: lower-roman;
  }
  